.main{
    margin-top: 3%;
}
.mainClick{
    margin-top: 15%;
}
body{
    
    background-size: cover;
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?cs=srgb&dl=pexels-hasan-albari-1229861.jpg&fm=jpg&_gl=1*1rght40*_ga*NzUyNjAwMTU0LjE2NjcyMDUxMDE.*_ga_8JE65Q40S6*MTY2NzIwNTEwNC4xLjEuMTY2NzIwNTExNS4wLjAuMA");
}
.fix{
    border:2px solid #0c0c0c;
    border-radius: 5px;
    background-color: bisque;
   
    padding: 10px;
}
h1,h4{
    color:#fdfd06;
   

}
label{
    color:rgb(15, 15, 15);
}
table{
    
    background-color: bisque;
}